<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      <%= comment.name %>
    </p>
  </header>
  <div class="card-content">
    <div class="content">
        <%= comment.body %>
    </div>
  </div>
</div>