<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% @user.posts.each do |post| %>
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      <%= post.title %>
    </p>
  </header>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <%= image_tag(post.image.url, alt: 'Image') if post.image? %>
        </figure>
      </div>
      <div class="media-content">
        <%= post.txt %>
      </div>
    </div>
  </div>
  <footer class="card-footer">
    <div class="card-footer-item black"><%= link_to 'Show', post %></div>
  </footer>
  <footer class="card-footer">
    <div class="card-footer-item black"><%= post.published_date %></div>
  </footer>
</div>
<% end %>

<div class="link_spe">
  <%= link_to 'Back', posts_path %>
</div>
