<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<% @posts.each do |post| %>
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      <%= post.title %>
      &nbsp;
      <small>by</small>
      &nbsp;
      <%= link_to post.user.email, post.user %>
    </p>
  </header>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <%= image_tag(post.image.url, alt: 'Image') if post.image? %>
        </figure>
      </div>
      <div class="media-content">
        <%= post.txt %>
      </div>
    </div>
  </div>
  <footer class="card-footer">
    <div class="card-footer-item black"><%= link_to 'Show', post %></div>
    <% if user_signed_in? && post.user == current_user %> 
      <div class="card-footer-item black"><%= link_to 'Edit', edit_post_path(post) %></div>
      <div class="card-footer-item black"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    <% end %>
  </footer>
  <footer class="card-footer">
    <div class="card-footer-item black"><%= post.published_date %></div>
  </footer>
</div>
<% end %>

<br>

<% if user_signed_in? %>
  <div class="link_spe">
    <%= link_to 'New Post', new_post_path %>
  </div>
<% end %>
