<p id="notice"><%= notice %></p>

<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      <%= @post.title %>
    </p>
  </header>
  <div class="card-image">
    <figure class="image is-4by3">
      <%= image_tag(@post.image.url, alt: 'Image') if @post.image? %>
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
      <%= @post.txt %>
    </div>
  </div>
  <footer class="card-footer">
    <div class="card-footer-item black"><%= link_to @post.user.email, @post.user %></div>
  </footer>
  <footer class="card-footer">
    <div class="card-footer-item black"><%= @post.published_date %></div>
  </footer>
</div>

</br>
<h2>Comments</h2>
<%= render @post.comments %>

<% if user_signed_in? %>
  </br>
  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
<% end %>

<div class="link_spe">
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_post_path(@post) %> |
  <% end %>
  <%= link_to 'Back', posts_path %>
</div>
