@import 'bulma/bulma';
@import '_layout';

a {
    color: white;
}
a:hover {
    color: white;
}

.button {
    margin: 0.5rem;
}
.link_spe {
    a {
        text-decoration: underline !important;
        font-weight: bold;
    }
}

.card {
    margin: 0.2rem 0rem 1rem 0rem !important;
}
.black {
    a {
        color: black !important;
    }
}

p.card-header-title {
    a {
        color: black !important;
    }
}