<!DOCTYPE html>
<html>
  <head>
    <title>MaurelDanhiezTpruby</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="hero is-primary is-fullheight">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-4 is-offset-4 has-text-centered">
            <% if user_signed_in? %>
              Signed in as <%= current_user.email %>
              </br>
              <button class="button is-info">
                <%= link_to "Edit profile", edit_user_registration_path %>
              </button>
              <button class="button is-info">
                <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
              </button>
              <div class="link_spe">
                <%= link_to 'Load all posts', posts_path %>
              </div>
            <% else %>
              <button class="button is-info">
                <%= link_to "Sign up", new_user_registration_path %>
              </button>
              <button class="button is-info">
                <%= link_to "Log in", new_user_session_path %>
              </button>
              </br>
              <div class="link_spe">
                <%= link_to 'Load all posts', posts_path %>
              </div>
              <%# render 'posts/index' %>
            <% end %>
            <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
